body {
	margin:0;
	padding:0;
	background: black;
	font-family: Helvetica, Arial, sans-serif;
}

#container {
	background-color: #F2F2F2;
	width: 375px;
	height: 667px;
	margin: 0 auto;
	overflow: scroll;
}

#header {
	position: relative;
	padding: 15px 25px 0px 20px; 
	font-size: 16px; 
	background-color: white;
}

/*saved stories*/
#header h1 {
	margin:0;
	padding-bottom:10px;
	border-bottom:1px solid #C2C7CA;
}

#header p {
	color:#958C8C;
	font-size:12px;
	padding-bottom: 5px;
}

/*setting icon*/
.setting {
	position: absolute;
	top: 10px;
	right: 10px;
}

.article {
	position: relative;
	margin: 26px;
	padding: 6px;
}

.logo {
	 position: absolute;
	 margin-left: 17px;
	 margin-top: 2px;
}

h2 {
   font-size: 17px;
   line-height: 95%;
   position: absolute;
   left: 150px;
   top: 0px;
   padding-bottom: 5px;
}
.time {
   position: absolute;
   top: 87px;
   right: 15px;
   font-size: 15px;
   color: black;
   font-family: georgia;
   font-style: normal;
}


.date {
   position: absolute;
   left: 150px;
   top: 41px;
   font-size: 12px;
}

.one {
   border: 1px solid #C2C7CA;
   border-radius: 7px;

}

#footer {
	width:375px;
	left:50%;
	margin: 80px 0 0 -187.5px;
	position: absolute;
	bottom: -25px;

}
.btn {
   background-color: #fff;
   height:40px;
   width: 186px;
   float:left;
   padding:20px 0;
   text-align: center;
   line-height:40px;
}
#recent {
	font-size: 17px;
	border-right: .5px solid #C2C7CA;
}
#saved{
	font-weight: bold;
}
span {
	color: #32cd32;
	font-weight: bold;
	margin-left: 15px;
	font-size: 17px;
}

#swipe {
  cursor: pointer;
}

.second {
	margin: 0 auto;
	text-align: center;
	background-color: #E1E1E1;
}

#no-icon {
	position: absolute;
	margin-top: 40px;
	margin-left: -20px ;
}
a {
	color: black;
}

/*for icons on pics position absolute then give margin 
...float left for the three footer elements
*/