h1 {
	color: red;
	font-size: 100px;
}

.mw-body, .bg_1 {
	background-image: url(Steve-Bannon-Wikipedia-files/president.png);
	background-color: black;
	text-align: center;
	color: white;
}


.mw-body a {
	color: yellow; 
}

.bg_1 a{
	color: yellow;
}


nav {
	color: white;
}
.noprint {
	display: none;
}

h2 {
	color: red;
	font-size: 100px;
}

p {
	background-color: red;
	color: white;
	font-size: 18px;
	padding: 10px;
}


img a{
	display: none;
}

td, th, table {
	display: none;
}

footer {
	background-image: url(Steve-Bannon-Wikipedia-files/breitbard-news.png);
}

/*  /// without wiki css

html {
	background-image: url(Steve-Bannon-Wikipedia-files/president.png);
	background-color: black;
	text-align: center;
	color: white;
}

h1 {
	color: red;
	font-size: 300px;
}

h2 {
	color: red;
	font-size: 100px;
}

p {
	background-color: red;
	color: white;
	font-size: 25px;
	padding: 50px;
}

a { 
	color: white; 
}

img a{
	display: none;
}

td, th, table {
	display: none;
}

footer {
	background-image: url(Steve-Bannon-Wikipedia-files/breitbard-news.png);
}*/