body {
	margin:0;
	padding:0;
	background: black;
	font-family: Helvetica, Arial, sans-serif;
}
 
#container {
	background-color: white;
	width: 375px;
	height: 667px;
	margin: 0 auto;
	overflow: scroll;
}

#header {
	position: relative;
	padding: 15px 25px 0px 20px;
	padding-left: 20px;
	background-color: white;
}

#header h1 {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.back-arrow {
    margin:0;
    width: 34px;
	padding-bottom:10px;
}

.t-logo {
   position: absolute;
   top: 10px;
   right: 170px;
}

.bookmark {
   position: absolute;
   top: 0px;
   right: 20px;
}

.time {
   position: absolute;
   top: 40px;
   right: 10px;
   font-size: 12px;
   color: #AAA3A3;
}

.pic {
    text-align: center;
}
.head{
	margin-top: 20px;
}
.title{
	font-size: 19px;
	font-weight: bold;
	border: none;
	margin: 0px 0 0 7px;
}
.byline{
	font-size: 14px;
	margin: 1.5px 0px 12px 7px;
}
.body-text{
    margin: 20px;

}
.body-text p {
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
}
#footer {
	position: absolute;
	width: 380px;
	left:50%;
	margin: -50px 0 0 -187.5px;

}
.foot {
   background-color: #fff;
   height:10px;
   width: 186px;
   float:left;
   padding:20px 0;
   text-align: center;
   line-height:40px;

}
#foot-words{
	font-size: 17px;
	font-weight: normal;
	color: black;
}
#done{
    position: absolute;
	top:-10px;
	left: 20px;
}

#share-icon{
   position: absolute;
	bottom: 8px;
	left: 320px;
}
a {
	color: black;
}